:root {
  --body: #07040f;
  --accent: #235cf9;
  --text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.code {
  color: var(--accent);
}
body {
  background-color: var(--body);
  color: var(--text);
  padding: 30px;
}

html,
body {
  overflow-x: hidden;
}
.titre {
  background-color: var(--accent);
}

/* main*/
main {
  margin: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: url("assets/img/Vector 47.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2rem;
  height: 600px;
}

.choix {
  display: flex;
  text-align: flex-start;
  padding: 10px;
  gap: 40px;
}

.choix3 {
  border: solid 1px var(--accent);
  padding: 5px;
}

.choix img {
  width: 70px;
  height: 70px;
}

.choix img:hover {
  border-color: var(--accent);
}
.image1 {
  width: 200px;
  height: 250px;
  align-self: center;
}
.arrow-box {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.arrow-box:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: var(--accent);
}
.right {
  flex-grow: 1;
}
.left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.choose-btn {
  margin-top: 1.5rem;
  background-color: var(--accent);
  color: #000;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.choose-btn:hover {
  transform: translateY(-0.5px);
  background-color: blue;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.label {
  width: 70px;
}

.label::before {
  content: "";
  background: #235cf9;
  display: block;
  width: 60px;
  height: 20px;
  position: absolute;
  z-index: -2;
}
.label::after {
  content: "";
  background: #235cf9;
  border-radius: 0 80% 0 0;
  corner-shape: bevel;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: -2;
}

/* loading */
.loading-bar {
  display: flex;
  align-items: center;
  position: relative;
  left: 170px;
  top: 30px;
  gap: 1rem;
}
.bar {
  width: 500px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.progress {
  height: 100%;
  background-color: var(--accent);
}
.percent {
  font-weight: bold;
  color: var(--accent);
}
.loading-bar > p {
  font-size: x-large;
}
